.ttl{
    text-align: center;
}
.container {
    text-align: center;
}

.sign_images_container {
    width: 100%;
    max-height: 300px; /* Maximum height for the container */
    overflow-y: auto; /* Add vertical scrollbar if needed */
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap to the next line */
    justify-content: center; /* Center the images horizontally */
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 15px;

}

.slideshowItem {
    margin: 5px; /* Adjust margin between images */
}

.slideshowItem img {
    max-height: 130px; /* Adjust maximum height of images */
    max-width: 100%; /* Ensure images fit within their container */
    border-radius: 10px;
}